body {
  margin: 15% auto 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  overflow-x: hidden; /* Prevent horizontal scrolling */
}  

header {
  border-bottom: 3px solid dimgray;
  background-color: rgb(217, 58, 0);
  color: white;
  text-align: center;
  position: absolute;
  width: 100%;
  height: 25%;
  top: 0;
}


 h1 {
  font-size: 24pt;
  margin: 20px auto 0 auto;
  width: auto;
  height: 100px;
}

header nav ul {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

header nav ul li a {
  margin: 0 5em;
  color: lime;
  list-style-type: none;
  text-decoration: none;
}

header nav ul li a:hover {
  color: rgb(7, 200, 161); /* Change color on hover */
}
section {
 
  display: flex;
  justify-content: center; /* Center content horizontally */
  align-items: center; /* Center content vertically */
  margin: 30px auto
}

img {
  width: 25%;
  height: auto;
}


footer {
  border-top: 3px solid dimgray;
  background-color: darkgray;
  margin: 30px auto;
  color: black;
  text-align: center;
  
}

footer p {
  margin: 3em;
}
